#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
{{ range .Layers }}
#define {{ .Name }} {{ .Index }}
{{- end }}

&lt {
    quick-tap-ms = <200>;
    flavor = "balanced";
};

&mt {
    quick-tap-ms = <200>;
    flavor = "tap-preferred";
};

&caps_word { continue-list = <UNDERSCORE BACKSPACE DELETE LEFT_ARROW RIGHT_ARROW UP_ARROW DOWN_ARROW PAGE_UP PAGE_DOWN>; };

/ {
    conditional_layers { compatible = "zmk,conditional-layers"; };

    behaviors {
{{- range .Behaviors }}
        {{.Name}}: {{.Name}} {
            compatible = "zmk,{{.Type}}";
            label = "{{.Label}}";
            #binding-cells = <{{.Cells}}>;
            bindings = <{{.Bindings}}>;
            {{- range .Properties }}
            {{.}};
            {{- end }}{{/* range .Properties */}}
        };
{{ end }}{{/* range .Behaviors */}}
        rmt: rmt {
            compatible = "zmk,behavior-hold-tap";
            label = "Right Mod Tap";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <250>;
            flavor = "tap-preferred";
            hold-trigger-on-release;
            quick-tap-ms = <200>;
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38>;
        };

        sll: sll {
            compatible = "zmk,behavior-sticky-key";
            label = "Sticky Layer Long";
            bindings = <&mo>;
            #binding-cells = <1>;
            release-after-ms = <2000>;
            quick-release;
        };

        kpConfig: kpConfig {
            compatible = "zmk,behavior-hold-tap";
            label = "Key Config macro";
            bindings = <&envConfig>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <350>;
            quick-tap-ms = <200>;
            flavor = "tap-preferred";
        };
    };

    macros {
        envConfig: homeconfig {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp DQT &kp DLLR &kp LS(H) &kp LS(O) &kp LS(M) &kp LS(E) &kp DQT &kp FSLH &kp DOT &kp C &kp O &kp N &kp F &kp I &kp G &kp FSLH>;
            label = "HOMECONFIG";
        };

        {{- range .Macros }}

        {{.Name}}: {{.Name}} {
            compatible = "zmk,{{.Type}}";
            label = "{{.Label}}";
            #binding-cells = <{{.Cells}}>;
            bindings = <{{.Bindings}}>;
        };
        {{- end }}{{/* range .Macros */}}
    };

    combos {
        compatible = "zmk,combos";
        {{- range .Combos }}

        {{.Name}} {
            bindings = <{{.RenderBindings}}>;{{ if .Layers }}
            layers = <{{.RenderLayers}}>;{{ end }}
            key-positions = <{{.RenderKeys}}>;{{ if .TimoutMs }}
            timeout-ms = <{{.TimoutMs}}>;
            {{- end}}{{ if .IdleMs }}
            require-prior-idle-ms = <{{.IdleMs}}>;
            {{- end}}{{ if .SlowRelease }}
            slow-release = {{.SlowRelease}};
            {{- end}}
        };
        {{- end }}{{/* range .Combos */}}
    };

    keymap {
        compatible = "zmk,keymap";
        {{- range .Layers }}

        {{ .Name }} {
            bindings = <
            {{- range .Rows }}{{ "\n" -}}
            {{ . }}
            {{- end }}
            >;
        };
        {{- end }}{{/* range .Layers */}}
    };
};
