#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
{{ range .Layers }}
#define {{ .Name }} {{ .Index }}
{{- end }}

&lt {
    quick-tap-ms = <200>;
    flavor = "balanced";
};

&mt {
    quick-tap-ms = <200>;
    flavor = "tap-preferred";
};

&caps_word {
    continue-list = <UNDER BSPC DEL LEFT RIGHT UP DOWN PG_UP PG_DN>;
};

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";
    };

    behaviors {
        {{- range .Behaviors }}

        {{.Name}}: {{.Label}} {
            compatible = "zmk,{{.Type.Name}}";
            #binding-cells = <{{.Type.Cells}}>;
            {{- if gt (len .Bindings) 0 }}
            bindings = <{{.Bindings}}>;
            {{- end }}{{/* if len .Properties */}}
            {{- range .Properties }}
            {{ . }};
            {{- end }}{{/* range .Properties */}}
        };
        {{- end -}}{{/* range .Behaviors */}}
    };

    macros {
        {{- range .Macros }}

        {{.Name}}: {{.Label}} {
            compatible = "zmk,{{.Type}}";
            #binding-cells = <{{.Cells}}>;
            bindings = <{{.Bindings}}>;
        };
        {{- end }}{{/* range .Macros */}}
    };

    combos {
        compatible = "zmk,combos";
        {{- range .Combos }}

        {{.Name}} {
            bindings = <{{.Ref.Compile}}>;
            key-positions = <{{.RenderKeys}}>;
            {{- if .Layers }}
            layers = <{{.RenderLayers}}>;
            {{- end }}
            {{- if .Timout }}
            timeout-ms = <{{.Timout}}>;
            {{- end }}
            {{- if .Idle }}
            require-prior-idle-ms = <{{.Idle}}>;
            {{- end}}
            {{- if .Slow }}
            slow-release;
            {{- end}}
        };
        {{- end }}{{/* range .Combos */}}
    };

    keymap {
        compatible = "zmk,keymap";
        {{- range .Layers }}

        {{ .Name }} {
            bindings = <
            {{- range .Rows }}{{ "\n" -}}
            {{ . }}
            {{- end }}
            >;
        };
        {{- end }}{{/* range .Layers */}}
    };
};
